# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
backend/venv/
.venv/
venv/

# Django
*.sqlite3
media/
staticfiles/

# Environment
.env

# Node
node_modules/
.next/
out/

# IDE
.vscode/
.idea/

# OS
.DS_Store